.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation:glow 1s ease-in-out infinite alternate ;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff,
       0 0 30px green,  
       0 0 40px green, 0 0 50px green, 
       0 0 60px green, 0 0 70px green;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30pxgreen,
       0 0 40px green,
       0 0 50px green, 0 0 60px green, 
       0 0 70px green, 0 0 80px green;
    }
  }